extends layout

block content
    
    .w3-light-grey
        header.w3-container.w3-theme-d4.w3-text-white
            h1
                a.w3-opacity(href="/mainPage" style="text-decoration: none") Gestor de Recursos
                a(href='/')
                    button.w3-margin-bottom.w3-right.w3-button.w3-round-large.w3-text-white.w3-large.w3-hover-opacity Logout
                a(href='/user/meuPerfil')
                    button.w3-margin-bottom.w3-right.w3-button.w3-round-large.w3-text-white.w3-large.w3-hover-opacity O meu perfil
        
        .w3-bar.w3-theme-d4
            h4
                a(href="/mainPage")
                    button.w3-bar-item.w3-hover-opacity.w3-padding(class="w3-theme-d3 tablink", onclick="openDiv(event, 'recursos', 'sim');") Lista de Recursos

                if nivel === "admin"
                    a(href="/mainPage?tab=users")
                        button.w3-bar-item.w3-hover-opacity.w3-padding(class="w3-theme-d4 tablink", onclick="openDiv(event, 'users', 'sim');") Lista de Utilizadores


                if nivel != "consumidor"
                    a(href="/mainPage?tab=meus")
                        button.w3-bar-item.w3-hover-opacity.w3-padding(class="w3-theme-d4 tablink", onclick="openDiv(event, 'pessoais', 'sim');") Os Meus Recursos
       


        - var ref = "/mainPage?"
        include ./listaRecursos.pug


        //- de certeza que queres eliminar?
        div.w3-modal(id="confirmar" style="display:none")
            div.w3-modal-content.w3-theme-d3.w3-round-large(style="width:450px")
                div.w3-container.w3-padding-16
                    h5.w3-center.w3-margin-bottom(id="questao_recurso") Tem a certeza que quer eliminar este recurso?
                    h5.w3-center.w3-margin-bottom(id="questao_user") Tem a certeza que quer eliminar este utilizador?
                    h5.w3-center
                        a(id="ref" href="")
                            button.w3-button.w3-round.w3-white.w3-text-blue-grey.w3-medium
                                i(class="fa fa-check")
                        button.w3-button.w3-round.w3-white.w3-text-blue-grey.w3-medium.w3-margin-left(onclick="document.getElementById('confirmar').style.display='none'")
                            i(class="fa fa-close")



        .w3-container.w3-theme-d4.w3-text-white.w3-padding.w3-padding-large
            span PRI2020