extends layout

block content

    .w3-light-grey
        header.w3-container.w3-theme-d4.w3-text-white.w3-margin-bottom
            h1 Completar registo
        form.w3-container.w3-padding-large(action='/complete-reg' method='POST')

            h5.w3-cell-row.w3-padding
                label.w3-cell(style="width:100px") Username:
                input.w3-input.w3-margin-left.w3-round.w3-cell(style="width:700px" type="text" name="username" value=`${user}` placeholder=`Introduza o seu username` required)
            h5.w3-cell-row.w3-padding
                label.w3-cell(style="width:100px") Filiação:
                input.w3-input.w3-margin-left(style="width:700px" type="text" name="filiacao" value=`${fil}` placeholder=`Introduza a sua afiliação`)
            
            
            input.w3-input(type="hidden" name="level" value="consumidor")

            input.w3-input(type="hidden" name="email" value=`${email}`)

            h5.w3-cell-row.w3-padding
                input.w3-btn.w3-blue-grey.w3-round(type="submit" value="Enviar")
                if error
                    span.w3-padding.w3-cell-middle.w3-opacity - Username já existe -
        
        .w3-container.w3-theme-d4.w3-text-white.w3-padding.w3-margin-top.w3-padding-large
            address 
                a(href="/") Voltar
