extends layout

block content

    .w3-light-grey
        header.w3-container.w3-theme-d4.w3-text-white
            a(href="/mainPage" style="text-decoration: none")
                h1.w3-opacity Gestor de Recursos
        .w3-bar.w3-theme-d4
            h3.w3-margin-left Hashtag #{hashtag}

        - var ref = `/recursos?hashtag=${hashtag}&`
        include ./listaRecursos.pug
        
        .w3-container.w3-theme-d4.w3-text-white.w3-padding.w3-padding-large
            address 
                span(onclick="window.history.go(-1)" style="text-decoration: underline; cursor:pointer;" ) Voltar
