doctype html
html
  head
    title Gestor de Recursos
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://www.w3schools.com/lib/w3-theme-cyan.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
    script(src="/tabs.js")
  body
    block content
