doctype html
html
  head
    title Gestor de Recursos
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://www.w3schools.com/lib/w3-theme-cyan.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css")
    script(src="/tabs.js")
  body
    block content
