extends layout

block content
    
    .w3-light-grey
        header.w3-container.w3-theme-d4.w3-text-white
            h1
                a.w3-opacity(href="/mainPage" style="text-decoration: none") Gestor de Recursos
                a(href='/logout')
                    button.w3-margin-bottom.w3-right.w3-button.w3-round-large.w3-text-white.w3-large.w3-hover-opacity Logout
                a(href='/user/meuPerfil')
                    button.w3-margin-bottom.w3-right.w3-button.w3-round-large.w3-text-white.w3-large.w3-hover-opacity O meu perfil
        
        .w3-bar.w3-theme-d4
            h4
                a(href="/mainPage")
                    button.w3-bar-item.w3-hover-opacity.w3-padding(class="w3-theme-d4") Lista de Recursos

                if nivel === "admin"
                    a(href="/mainPage?tab=users")
                        button.w3-bar-item.w3-hover-opacity.w3-padding(class="w3-theme-d3") Lista de Utilizadores


                if nivel != "consumidor"
                    a(href="/mainPage?tab=meus")
                        button.w3-bar-item.w3-hover-opacity.w3-padding(class="w3-theme-d4") Os Meus Recursos

                a(href="/mainPage?tab=news")
                    button.w3-bar-item.w3-hover-opacity.w3-padding(class="w3-theme-d4 tablink", onclick="openDiv(event, 'recursos', 'sim');") Novidades

        //- Listar os utilizadores
        if nivel == "admin"

            .w3-bar.w3-theme-d3
                span
                    if tab31 == "block"
                        button.w3-bar-item.w3-hover-opacity.w3-margin-top(class="w3-theme-d2 2tab", onclick="openUsers(event, 'consumidores', '/mainPage?tab=users&sortBy=');") Lista de Consumidores
                        button.w3-bar-item.w3-hover-opacity.w3-margin-top(class="w3-theme-d3 2tab", onclick="openUsers(event, 'produtores', '/mainPage?tab=prods&sortBy=');") Lista de Produtores
                    else
                        button.w3-bar-item.w3-hover-opacity.w3-margin-top(class="w3-theme-d3 2tab", onclick="openUsers(event, 'consumidores', '/mainPage?tab=users&sortBy=');") Lista de Consumidores
                        button.w3-bar-item.w3-hover-opacity.w3-margin-top(class="w3-theme-d2 2tab", onclick="openUsers(event, 'produtores', '/mainPage?tab=prods&sortBy=');") Lista de Produtores
            .w3-bar.w3-theme-d2
                h6
                    span.w3-dropdown-hover.w3-margin-left.w3-margin-bottom.w3-theme-d2 Ordenar por:
                        span.w3-text-white.w3-round.w3-border-0.w3-hover-opacity.w3-theme-d2.w3-margin-left= sort
                        span.w3-dropdown-content.w3-bar-block
                            if sort != "username"
                                a(id="refUsername" href=`/mainPage?tab=users&sortBy=username`).w3-bar-item.w3-button.w3-theme-d2.w3-hover-blue-grey.w3-hover-opacity Username
                            if sort != "ultimoAcesso"
                                a(id="refData" href=`/mainPage?tab=users&sortBy=dataLastAcess`).w3-bar-item.w3-button.w3-theme-d2.w3-hover-blue-grey.w3-hover-opacity Último Acesso

            include ./listasUsers.pug


        .w3-container.w3-theme-d4.w3-text-white.w3-padding.w3-padding-large
            span PRI2020